body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    margin: 0;
    background-image:linear-gradient(
      90deg,
      rgba(58, 58, 220, 0.8),
      rgba(231, 231, 231, 0.7)
    ), url("jpeg/backgroundphoto.JPG");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    background-attachment: fixed;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    font-weight: 400;
    line-height: 1.2;
  }
  
  p {
    font-size: 1.125rem;
  }

  h1, p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

  input,button,select,textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
    border: none;
  }

  .container { 
    width: 100%;
    margin: 3.125rem auto 0 auto;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 500px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  header {
   padding-top: 2rem;
   margin-bottom: 1.875rem;
  }

  .description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
  
  .center {
    text-align: center;
  }

form {
    background: rgba(42, 42, 114,0.8);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
  }

  @media (min-width: 480px) {
    form {
      padding: 2.5rem;
    }
  }
  

  .form-div { 
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }

  .input-control {
    display: block;
    width: 100%;
    height: 2.25rem;
    padding: 0.5rem 0.5rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
  }

    .input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.8rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 100px;
  width: 100%;
  padding: 0.7rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: green;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: pink;
  color: black;
}

footer {
  background-color: rgba(46, 46, 46, 0.5);
  color: white;
  padding: 2rem;
  margin: 2rem 0 0 0;
}

footer a {
  float: right;
  color: white;
  text-decoration: none;
  margin: 0.4rem;
  transition: color 0.4s ease;
}

footer a:hover {
  color: pink;
}

footer p{
  margin: 0;
}